@media print {
    .navbar, .breadcrumb {
        display: none;
    }

    fieldset.printer-only {
        border: 0;
        margin: 0;
        padding: 0;
    }

    .no-break {
        page-break-inside: avoid;
        break-inside: avoid;
    }
}